apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-backend
  namespace: image-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: image-backend
  template:
    metadata:
      labels:
        app: image-backend
    spec:
      containers:
        - name: image-backend
          image: ghcr.io/biraj49/img-processing-deployment-backend:latest
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: PORT
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: backend-secret
                  key: DATABASE_URL
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: image-backend-service
  namespace: image-app
spec:
  type: NodePort
  selector:
    app: image-backend
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 32000
