apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: image-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          env:
            - name: POSTGRES_USER
              value: demo
            - name: POSTGRES_PASSWORD
              value: demo_password
            - name: POSTGRES_DB
              value: image_db
          ports:
            - containerPort: 5432
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: image-app
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
